body
{
    align-items: center;
    text-align: center;
    background-color: rgb(135, 203, 203);
}
div
{
    margin-top: 300px;
}
h1
{
    text-shadow: 5px;
    color: blue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h3
{
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}